{% if section.settings.show_recommendations %}
  <div class="product-recommendations" data-product-id="{{ product.id }}" data-limit="{{ section.settings.products_per_row }}">
    {% if recommendations.performed and recommendations.products_count > 0%}
      <div class="{% unless settings.use_fullwidth_layout %}container{% endunless %} padded-row">
        <h4 class="align-center">{{ section.settings.recommendations_title }}</h4>

        <div class="collection-listing related-collection cf row-spacing">
          <div class="product-list">
            {%- for product in recommendations.products -%}
              {% include 'product-block' product: product %}
            {%- endfor -%}
          </div>
        </div>

      </div>
    {% endif %}
  </div>
{% endif %}


{% javascript %}
var loadProductRecommendationsIntoSection = function() {
  // Look for an element with class 'product-recommendations'
  var productRecommendationsSection = document.querySelector(".product-recommendations");
  if (productRecommendationsSection === null) { return; }
  // Read product id from data attribute
  var productId = productRecommendationsSection.dataset.productId;
  // Read limit from data attribute
  var limit = productRecommendationsSection.dataset.limit;
  // Build request URL
  var requestUrl = "/recommendations/products?section_id=product-recommendations&limit="+limit+"&product_id="+productId;
  // Create request and submit it using Ajax
  var request = new XMLHttpRequest();
  request.open("GET", requestUrl);
  request.onload = function() {
    if (request.status >= 200 && request.status < 300) {
      var container = document.createElement("div");
      container.innerHTML = request.response;
      productRecommendationsSection.innerHTML = container.querySelector(".product-recommendations").innerHTML;
      theme.ProductBlockManager.loadImages(productRecommendationsSection);
      theme.runMultiCurrency();
    }
  };
  request.send();
};
// If your section has theme settings, the theme editor
// reloads the section as you edit those settings. When that happens, the
// recommendations need to be fetched again.
// See https://help.shopify.com/en/themes/development/sections#understand-the-interaction-between-theme-javascript-and-the-theme-editor
document.addEventListener("shopify:section:load", function(event) {
  if (event.detail.sectionId === "product-recommendations") {
    loadProductRecommendationsIntoSection();
  }
});
// Fetching the recommendations on page load
loadProductRecommendationsIntoSection();
{% endjavascript %}


{% schema %}
  {
    "name": "Product recommendations",
    "settings": [
      {
        "type": "text",
        "id": "recommendations_title",
        "label": "Heading",
        "default": "You may also like"
      },
      {
        "type": "checkbox",
        "id": "show_recommendations",
        "label": "Show recommendations",
        "default": true
      },
      {
        "type": "range",
        "id": "products_per_row",
        "min": 2,
        "max": 6,
        "step": 1,
        "label": "Maximum number of recommended products",
        "default": 4
      }
    ]
  }
{% endschema %}
