<div class="article">
  <div class="container cf">
    <div class="page-header cf">
      <h1 class="majortitle">{{ page.title }}</h1>
    </div>
    <div class="user-content row-spacing">
      {{ page.content }}
    </div>
  </div>
</div>